@media screen and (min-width:1200px){
    .menu-mobile{
        display: none !important;
    }
    .menu-modal{
        display: none !important;
    }
}
@media screen and (max-width:767px){
    .dot{
        display: none;
    }
    .navbar{
        background-color: black;
        padding: 8px 20px 2px;
        color:white;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .list-icon{
        display: block;
    }
    .navbar__list{
        display: none;
    }       
    .background-base{
        height: 400px;
    }
    .type-imgs-wrapper{
        grid-template-columns: 1fr;
        padding-top: 0rem;
    }
    .technology-wrapper h1{
        font-size: 1.8rem;
        padding-top: 1.5rem;
        margin-bottom: 0rem;
    }
    .technology-small-part h2{
        font-size: 1.3rem;
    }
    .technology-small-part{
        top:1rem;
        width: 100%;
        scroll-snap-type: x mandatory;

    }
    .technology-type{
        position: relative;
        display: flex;
        overflow-x: auto;
    }
    .technology-type-link{
        color: grey;
        font-size: 1rem;
        text-align: center;
        padding: 0 0px 1rem 0;
        scroll-snap-align: start;
    }
    .technology-type .techactive{
        border:none;
        font-weight: 600;
    }
    .technology-info img{
        margin-top: 10px;
        width: 580px;
    }
    .btn-more{
        width: 12rem;
    }
    .explore{
        padding: 1rem 0 1rem 0;
    }
    .explore-text{
        width: 100%;
    }
    .explore-text h1{
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    .explore-text h4{
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }
    .explore-1-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }
    .explore-first{
        margin: 0;
    }
    .explore-second{
        margin: 0;
    }
    .first-text{
        padding: 0 20px;
    }
    .first-text h1{
        font-size: 1.3rem;
        margin-bottom: 1.4rem;
        font-weight: 600;
    }
    .first-text h3{
        font-size: 1rem;
        margin-bottom: 1.2rem;
        font-weight: 500;
    }
    .second-text h1{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 600;
    }
    .second-text h3{
        font-size: 1rem;
        margin-bottom: 1.2rem;
        font-weight: 500;
    }
    .products-wrapper{
        grid-template-columns: 1fr;
    }
    .product-text h3{
        font-weight: 600;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .above-info-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .above-info{
        padding:2rem 1rem;
    }
    .above-info-wrapper>div:first-child{
        margin-bottom: 1rem;
    }
    .above-info-wrapper>div:nth-child(4){
        padding-left: 2rem;
    }
    .above-info-wrapper>div:nth-child(2){
        padding-left: 2rem;
    }
    .info-link a{
        font-size: 1rem;
        font-weight: 500;
        color: rgb(58, 58, 58);
        line-height: 2rem;
    }
    .below-wrapper-info{
        display: inline-block;
        padding:0rem 0rem;
        align-items: center;
        text-align: center;
    }
    .below-info-text{
        padding: 0 1rem;
    }
    .below-info-text h1{
        font-size: 1rem;
        font-weight: 600;
        padding: 0;
        margin-bottom: 1rem;
    }
    .below-text{
        color: rgb(53, 53, 53);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.8rem;
    }
    .footer-wrapper{
        padding:0.7rem 1rem;
    }
    .follow-wrapper {
        font-size: 0.9rem;
    }
    .back-to-top{
        font-size: 0.9rem;
    }
    .footer-text{
        font-size: 0.8rem;
    }

    /*SP Res*/
    .sp-intro{
        max-width: initial;
        width: 560px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        position: relative;
    }
    .support-text{
        margin-top: 2rem;
    }
    .support-text h1{
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 0.3rem;
    }
    .support-text p{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .support-text input{
        width: 250px;
        height: 40px;
        font-size: 1rem;
    }
    .services-wrapper{
        grid-template-columns: 1fr;
        padding: 0;
    }
    .service-wrapper{
        margin: 1rem 1rem 0.5rem;
    }
    .service-wrapper h1{
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
        color: #333;
    }
    .service-wrapper p{
        font-size: 1.1rem;
        margin-bottom: 1rem;
        font-weight: 500;
    }
    .faq-nav{
        display: none;
    }
    .faq-detail{
        margin-left: 0rem;
        padding-left: 0rem;
        border: none;
        width: 100%;
    }
    .faq-wrapper{
        padding: 1rem;
    }
    .faq-info{
        grid-template-columns: 1fr;
    }
    .faq-wrapper h1{
        margin-bottom: 2rem;
    }
    .faq-wrapper h1{
        font-size: 2.4rem;
    }
    .detail-item-wrapper h2{
        font-size: 1.2rem;
    }
    .detail-item-wrapper p{
        font-size: 1rem;
    }
    .support-contact-wrapper{
        padding:2rem 1rem;
    }
    .support-contact-wrapper h1{
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
    .support-contact-form-wrap{
        padding: 2rem 0;
    }
    .support-hotline h2{
        font-size: 1.4rem;
    }
    .support-hotline p{
        font-size: 1.2rem;
    }
    .support-form{
        margin-top: 2rem;
    }
    .support-form h2{
        font-size: 1.4rem;
    }
    .support-form p{
        font-size: 1.1rem;
    }
    .form{
        width: 300px;
        margin: auto;
    }    
    .form>form>div>label{
        font-weight: 600;
        font-size: 1.2rem;
    }
    .form>form>div>input{
        font-size: 1.2rem;
    }
    .form>form>div>textarea{
        font-size: 1.2rem;
        height: 10rem;
        margin-bottom: 1rem;
    }
    /*Product page*/
    .product-videos-wrapper{
        grid-template-columns: 1fr;
    }
}