/*DEFAULT SETUP*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif; 
    background-color: white;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif; 
}

a{
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

/*NAVBAR*/
.intro{
    padding-top: 45px;
}

.slide-show{
    position: relative;
    margin: auto;
}

.slide{
    display: none;
}

.dot-wrapper{
    position: absolute;
    bottom: -50px;
    left:50%;
    -webkit-transform: translateX(-50%);
}

.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #b1b1b1;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.8s ease;
}
  
.dot:hover {
    background-color: #636363;
}

.dot-active{
    background-color: #636363;
}
   
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}
   
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
   
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 12px 135px;
    color:white;
    position: fixed;
    z-index: 999;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.menu-mobile{
    padding: 0;
}

.menu-modal{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: none;
}

.close-icon{
    color: white;
    text-align: left;
    margin-top: 0.4rem;
    margin-left: 0.9rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: block;
    transition: 0.5s ease-in-out;
}


.menu-mob-list{
    margin:0 1.4rem;
}

.menu-mob-item{
    font-size: 3rem;
    font-weight: 500;
    border-bottom: 1px solid #444;
    padding-bottom: 0.4rem;
}

.list-icon{
    text-align: center;
    margin-top: -2px;
    font-size: 2rem;
    cursor: pointer;
    display: block;
}

.navbar__logo{
    text-align: center;
    align-items: center;
}

.navbar__list{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.navbar__list-item{
    padding: 0 2rem;
}

.navbar__list-item-link{
    color: white;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
}

.navbar__list-item-link:hover,
.active
{
    color: gray;
}

.navbar__search{
    font-weight: 400;
    margin-top: 1px;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar__search:hover{
    color: gray;
}

/*Introduction*/
.bg-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-fixed{
    background-attachment: fixed;
}

.full-height{
    height: 100vh;
}

.intro__background img{
   width: 100%;
   height: auto;
}


/*Type section*/

.type-imgs-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.type-img-wrapper{
    position: relative;
}

.type-img{
    width: 100%;
    height: 400px;
}

.type-text-wrapper{
    position: absolute;
    left:0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:0 45px;
    margin-top: 40px;
    color: white;
}

.type-title{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.type-describe{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.btn-more{
    font-weight: 500;
    height: 2.5rem;
    width: 12rem;
    border: 1px solid white;
    border-radius: 2rem;
    font-size: 0.95rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    outline: none;
}

.btn-more:hover{
    background-color: rgb(10, 61, 202);
}


/*Technology CSS*/

.background-base{
    background-color: black;
    height: 840px;
    margin-bottom: 0rem;
}

.technology-wrapper{
    color: white;
    padding-top: 1rem;
    width: 100%;
}

.technology-wrapper h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
}

.technology-info{
    position: relative;
}

.technology-info img{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 0px;
    -webkit-transform: translateX(-50%);
}

.technology-small-part{
    z-index: 100;
    position: absolute;
    top:2rem;
    left:50%;
    -webkit-transform: translateX(-50%);
}

.technology-small-part h2{
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.technology-type{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.technology-type-link{
    padding: 1rem;
    color: grey;
    font-size: 1.2rem;
    scroll-snap-align: start;
}

.technology-type-link a{
    padding: 6px 0rem;
}

.technology-type-link a:hover
{
    color: white;
}

.technology-type .techactive{
    color: white;
    border-bottom: 1px solid white;
}

.technology-more{
    text-align: center;
}

/*Explore CSS*/
.explore{
    padding: 1rem;
    background-color: white;
}

.explore-background{
    background-image: url(../img/su-kien-ra-mat-san-pham-vivo-v20-1.jpg);
}

.explore-wrapper{
    position: relative;
    margin-top: 0.3rem;
}

.overlay{
    background-color:rgba(0, 0, 0, 0.45); 
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
} 

.explore-text{
    position: absolute;
    left:50%;
    top: 0;
    text-align: center;
    margin-top: 40px;
    color: white;
    -webkit-transform: translateX(-50%);
}

.explore-text h5{
    font-weight: 500;
    margin-bottom: 1rem;
}

.explore-text h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.explore-text h4{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.explore-more-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0.5rem 1rem 0.5rem;
    color: white;
}

.first-background{
    background-image: url(../img/explore-first.jpg);
}

.second-background{
    background-image: url(../img/explore-2nd.jpg);
}

.explore-first{
    margin: 0 0.5rem 0 0.5rem;
    position: relative;
}

.explore-second{
    margin: 0 0.5rem 0 0.5rem;
    position: relative;
}

.modal-1{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-2{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.first-text{
    position: absolute;
    left:50%;
    top: 0;
    width: 100%;
   -webkit-transform: translateX(-50%);
    text-align: center;
    padding:0 40px;
    margin-top: 40px;
    color: white;
}

.first-text h5{
    font-weight: 500;
    margin-bottom: 1rem;
}

.first-text h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.first-text h3{
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    font-weight: 500;
}

.second-text{
    position: absolute;
    left:50%;
    top: 0;
    width: 100%;
   -webkit-transform: translateX(-50%);
    text-align: center;
    padding:0 40px;
    margin-top: 40px;
    color: white;
}

.second-text h5{
    font-weight: 500;
    margin-bottom: 1rem;
}

.second-text h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.second-text h3{
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
    font-weight: 500;
}

/* ABOUT*/
.products-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 0.5rem;
}

.product-wrapper{
    margin:0 0.5rem;
    position: relative;
}

.product-wrapper:hover{
    cursor: all-scroll;
}

.product-background1{
    background-image: url(../img/jovi.jpg);
}

.product-background2{
    background-image: url(../img/new\ screen.jpg);
}

.product-background3{
    background-image: url(../img/funtouchOS.jpg);
}

.product-text{
    position: absolute;
    top:0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    text-align: center;
    margin-top: 1rem;
    width: 100%;
}

.product-text button{
    border-color: black;
    color: black;
    transition: 0.5s ease-in-out;
    width: 9rem;
}

.product-text button:hover{
    color: white;
    border: none;
}

.product-text h5{
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.product-text h3{
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/*Contacts*/
.contact{
    background-image: linear-gradient(rgb(246, 244, 244),rgb(231, 230, 230));
}

.above-info-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 0;
    border-bottom: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3;
}

.above-info{
    padding:3rem 8.125rem;
}

.info-link a{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(58, 58, 58);
    line-height: 2rem;
}

.info-link a:hover{
    color: grey;
}

.below-wrapper-info{
    padding:0rem 8.125rem;
    display: flex;
    justify-content: space-between;
}

.below-info-text{
    padding: 0 60px 0 0;
}

.below-info-text h1{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0;
    margin-bottom: 1rem;
}

.below-text{
    color: rgb(53, 53, 53);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.BCTconfirm img{
    width: 150px;
    height: 60px;
}

.footer-wrapper{
    background-color: rgb(36, 36, 36);
    color:grey;
    padding:0.7rem 8.125rem;
    margin-top: 2.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer-wrapper p{
    margin-top: 0.3rem;
}

.follow-wrapper{
    display: flex;
}

.contact-icon{
    font-size: 1.8rem;
    padding: 0 0.2rem;
    cursor: pointer;
}

.contact-icon-fb:hover{
    color: blue;
}

.contact-icon-insta:hover{
    color: rgb(241, 10, 10);
}

.contact-icon-youtube:hover{
    color: red;
}

.back-to-top{
    display: flex;
    cursor: pointer;
}

.back-to-top i{
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 0.2rem;
}

.back-to-top:hover{
    color: white;
}

/*Footer*/

.footer-text{
    background-color: black;
    padding: 1rem;
    color: blanchedalmond;
    text-align: center;
    align-items: center;
}

/*Product CSS*/
.product-video{
    background-color: white;
    margin-top: 20px;
    padding: 0;
}

.product-videos-wrapper{
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.product-video-wrapper{
    position: relative;
}

.product-video-wrapper video{
    cursor: pointer;
}

/* .product-video-wrapper video:hover{
    transform: scale(1.1);
} */

.video-text-wrapper{
    position: absolute;
    color:white;
    top:0;
    left:50%;
    -webkit-transform: translateX(-50%);
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
}

.video-text-wrapper p{
    font-size: 1.1rem;
}
.video-text-wrapper i{
    font-size: 3rem;
    margin-top: 2rem;
    cursor: pointer;
}

.product-wrapper{
    padding-top: 4rem;
    cursor:none;
}

.product__nav--wrapper{
    display: flex;
    justify-content: center;
}

.product__nav--item{
    color: #6c6c6c;
    font-size: 1.2rem;
    margin-right: 2rem;
    font-weight: 500; 
    padding-bottom: 4px;   
}

.product__nav--item:hover,
.product__nav--active{
    color:#415FFF;
    border-bottom: 1px solid #415FFF;
}


/*Support CSS*/
.support-intro-background{
    position: relative;
}

.support-intro-background img{
    vertical-align: middle;
    width: 100%;
}

.support-intro-background::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
} 

.support-text{
    position: absolute;
    top: 0;
    color: white;
    left:50%;
    -webkit-transform: translateX(-50%);
    width: 50%;
    text-align: center;
    margin-top: 8rem;
}   

.support-text h1{
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.support-text p{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.support-text input{
    width: 600px;
    height: 55px;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(133, 131, 131);
    outline: none;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0.5rem 1.4rem;
    border: none;
}

.support-inputbox{
    position: relative;
}

.support-inputbox::after{
    content: "";
    width: 24px;
    height: 24px;
    background: url(../img/search_black.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
    right:50px;
}

.services-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:3rem 8.125rem;
}

.service-wrapper{
    border: 1px solid rgb(204, 203, 203);
    margin: 0 1rem;
    text-align: center;
    position: relative;
    padding: 0 1rem 2rem 1rem;
}

.service-wrapper img{
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.service-wrapper h1{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #333;
}

.service-wrapper p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.service-wrapper a{
   font-size: 1.1rem;
   color:#415FFF;
   padding-bottom: 0.4rem;
}

.service-wrapper i{
    font-size: 1.1rem;
}

.service-wrapper a:hover{
    border-bottom: 1px solid #415FFF;
}

.faq-wrapper{
    padding:3rem 8.125rem;
    border-bottom: 1px solid #ddd;
}

.faq-wrapper h1{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.faq-info{
   display: grid;
   grid-template-columns: 1fr 4fr;
}

.faq-item{
    font-size:1.2rem;
    color: #337ab7;
    line-height: 2.4rem;
}

.faq-item:hover{
    color: blue;
}

.faq-detail{
    margin-left: 5rem;
    padding-left: 3rem;
    border-left: 1px solid #ddd;
}

.detail-item-wrapper{
    text-align: justify;
}

.detail-item-wrapper h2{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
    color: #333;
    cursor: pointer;
}

.detail-item-wrapper h2:hover{
    color: #337ab7;
}

.detail-item-wrapper p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #333;
    padding-bottom: 1rem;
    line-height: 1.8rem;
    border-bottom: 1px solid #ddd;
}

.faq-detail button{
    color:black;
    border:1px solid black;
    width: 7rem;
}

.faq-detail button:hover{
    color:white;
    border: none ;
}

.support-contact-wrapper{
    padding:4rem 8.125rem 2rem;
}

.support-contact-wrapper h1{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 5rem;
}

.support-contact-form-wrap{
    padding: 3rem 0rem;
    background-color: #f3f3f3;
    text-align: center;
}

.support-hotline{
    text-align: center;
    border-bottom: 1px solid rgb(184, 184, 184);
    padding-bottom: 2rem;
}

.support-hotline h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.support-hotline p{
    font-size: 1.6rem;
    color:  #337ab7;
    cursor: pointer;
}

.support-hotline p:hover{
    color: rgb(3, 3, 182);
}

.call-icon{
    font-size: 2rem;
}

.support-form{
    margin-top: 3rem;
}

.support-form h2{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.support-form p{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
    position: relative;
}

.form{
    width: 480px;
    margin: auto;
}

.form>form{
    text-align: left;
}

.form>form>div>label{
    font-weight: 600;
    font-size: 1.4rem;
}

.form>form>div>input{
    font-size: 1.4rem;
    width: 100%;
    height: 2.4rem;
    outline: none;
    padding-left: 0.6rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid #ddd;
}

.form>form>div>textarea{
    resize: none;
    font-size: 1.4rem;
    padding-left: 0.6rem;
    padding-top: 0.4rem;
    width: 100%;
    height: 15rem;
    outline: none;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid #ddd;
    margin-bottom: 2rem;
}

.support-form>button{
    color:black;
    border: 1px solid black;
    width: 7rem;
}

.support-form>button:hover{
    color:white;
    border: none;
}



